<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "ユーザー詳細"%>
      </h2>
      <div class="prof">
        <div>
          <table class="table">
            <tbody>
              <tr>
                <th class="table__col1">ニックネーム:</th>
                <th class="table__col2"><%= @user.nickname %></th>
              </tr>
              <tr>
                <th><%= "総タンパク質量:" %></th>
                <th class="table__col2"><%= "#{@myprotein}g"%></th>
              </tr>
              <tr>
                <th><%= "称号:"%>
                <th class="table__col2">
                  <% if @myprotein < 100 %>
                  <p>初級マッスル</p><p>(タンパク質量:~100)</p>
                  <% elsif   @myprotein >= 100 && @myprotein < 300 %>
                  <p>マッスル見習い</p><p>(タンパク質量:100~300)</p>
                  <% elsif  @myprotein >= 300 %>
                  <p>スタンダードマッスル</p><P>(タンパク質量:300~)</p>
                  <% end%>
                 </th>
              </tr>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div class="my-chart">
          <p>PFCグラフ(投稿合計)</p>
          <div class="my-info">
            <%= pie_chart @mypfc_chart, width: "360px", height: "360px", colors: ["red", "orange", "blue"] %>
            
          </div>  
        </div>

      <h2 class="recipes">
        <%= "#{@user.nickname}さんのレシピ"%>
      </h2>
      
      

    </div>

    <div class="user_card_collection">
        <div class="post-wrapper"> 
          <%= render partial: 'shared/menu', collection: @menus %> 
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer" %>